<div fxLayout="column" class="container_candiate_pitcher">
    <div fxFlex>
        <p>チーム</p>
        <button mat-raised-button (click)="switchAllTeamsStatus()">All</button>
        <mat-checkbox [(ngModel)]="selectedTeam.lions">ライオンズ</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedTeam.hawks">ソフトバンク</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedTeam.rakuten">イーグルス</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedTeam.marins">マリーンズ</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedTeam.fighters">ファイターズ</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedTeam.buffalows">バッファローズ</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedTeam.giants">ジャイアンツ</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedTeam.baysters">ベイスターズ</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedTeam.tigners">タイガース</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedTeam.carp">カープ</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedTeam.dragons">ドラゴンズ</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedTeam.swallows">スワローズ</mat-checkbox>
    </div>
    <div fxFlex>
        <p>ポジション</p>
        <button mat-raised-button (click)="switchAllPositionStatus()">All</button>
        <mat-checkbox [(ngModel)]="selectedPosition.starter">先</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedPosition.setupper">継</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedPosition.closer">抑</mat-checkbox>
    </div>
    <div fxFlex>
        <button mat-raised-button (click)="onSubmit()">Submit</button>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="center start" *ngFor="let pitcher of listItem">
        <div fxFlex fxLayout="column" fxFlexAlign="center">
            <div fxFlex>
                <button mat-stroked-button (click)="selectPlayer(pitcher)">選択</button>
            </div>
        </div>
        <div fxFlex fxLayout="column" class="item_title_basic">
            <div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
                <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                    <div fxFlex fxFlexAlign="center">
                        {{pitcher.name}}
                    </div>
                </div>
                <div fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div fxFlex>
                        {{pitcher.team}}
                    </div>
                </div>
                <div fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div fxFlex>
                        適正
                    </div>
                    <div fxFlex>
                        {{pitcher.position}}
                    </div>
                </div>
                <div fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div fxFlex>
                        球速
                    </div>
                    <div fxFlex>
                       {{pitcher.speed}}
                    </div>
                </div>
                <div fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div fxFlex>
                        コントロール    
                    </div>
                    <div fxFlex>
                        {{pitcher.control}}
                    </div>
                </div>
                <div fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div fxFlex>
                        スタミナ
                    </div>
                    <div fxFlex>
                        {{pitcher.stamina}}
                    </div>
                </div>
                <div fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div fxFlex>
                        スピリッツ    
                    </div>
                    <div fxFlex>
                        {{pitcher.spirits}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
