<div fxLayout="column" class="container_order" [ngClass.lt-md]="'container_order_small'">
    <div fxFlex fxLayout="row">
        <div fxFlex>
            <button mat-flat-button (click)="selectPitcher()">投手</button>
        </div>
        <div fxFlex>
            <button mat-flat-button (click)="selectBatter()">野手</button>
        </div>
    </div>
    <div fxFlex>
        <button mat-raised-button color="primary" (click)="calcCombo()">コンボ計算</button>
    </div>
    <div fxFlex>
        <app-pitcher-order *ngIf="isPitcherListSelected == true"></app-pitcher-order>
    </div>
    <div fxFlex>
        <app-batter-order *ngIf="isPitcherListSelected == false"></app-batter-order>
    </div>
</div>